
.depicter-revert.depicter-1 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-1-element-51{
	font-size:38px;
	text-align:center;
	color:#3B8E46;
	font-family:"Syne";
	font-weight:800;
	line-height:120%;
	text-decoration:;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-43{
	opacity:0.98;
}
.depicter-revert .depicter-1-element-43:not(.depicter-hover-off):hover {
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	opacity:0.98;
}
.depicter-revert .depicter-1-element-48{
	opacity:1;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#ECE2DA;
}

